<div class="row">
    <div class="col-auto">
        <section class="card bg-dark mb-4">
            <div class="card-body">
                <h2 class="card-title mb-4">Profile</h2>
                <p class="card-text">Username: {{username}}</p>
            </div>
        </section>
    </div>
</div>

{{#if loggedIn && username === session.username}}
    {{> blogpostForm}}
{{/if}}

  {{#if blogposts.length}}
  <div class="col-md-6 project-list">
    <h3>Blogposts by {{username}}:</h3>

    {{#each blogposts as |blogpost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm-primary" data-editId="{{blogpost.id}}">EDIT</button>
        <button class="btn btn-sm btn-danger" data-delId="{{blogpost.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>