<div class="row">
    <div class="col-auto">
        <section class="card bg-dark mb-4">
            <div class="card-body">
                <h2 class="card-title mb-4">Profile</h2>
                <p class="card-text">Username: {{username}}</p>
            </div>
        </section>
    </div>
</div>

{{#if logged_in}}
<div class="row mt-4">
  <div class="col-md-6">
    <h3 id="form-header">Create a New Blogpost:</h3>

    <form class="form blogpost-form">
      <div class="form-group">
        <label for="blogpost-title">Blogpost Title:</label>
        <input class="form-input" type="text" id="blogpost-title" name="blogpost-title" placeholder="Enter your blogppost title" />
      </div>
      <div class="form-group">
        <label for="blogpost-content">Content:</label>
        <textarea class="form-input" id="blogpost-content" name="blogpost-content" placeholder="What do you want to write about?"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="post-btn">Create</button>
      </div>
    </form>
  </div>


  {{#if blogposts.length}}
  <div class="col-md-6 project-list">
    <h3>Your Blogposts:</h3>

    {{#each blogposts as |blogpost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm-primary" data-editId="{{blogpost.id}}">EDIT</button>
        <button class="btn btn-sm btn-danger" data-delId="{{blogpost.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
{{/if}}