<div class="row">
    <div class="col-auto">
        <section class="card bg-dark mb-4">
            <div class="card-body">
                <h2 class="card-title mb-4">Profile</h2>
                <p class="card-text">Username: {{username}}</p>
            </div>
        </section>
    </div>
</div>

{{!-- blogposts by user --}}
  {{#if blogposts.length}}
  <div class="col-md-6 project-list">
    <h3>Blogposts by {{username}}:</h3>

    {{#each blogposts as |blogpost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a></h4>
        <p class="text-muted">Created on {{blogpost.createdAt}}</p>
        <div class="blogpost-content">{{{blogpost.content}}}</div>
        <div class="blogpost-comments">Comments: {{blogpost.comments.length}}</div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

{{!-- comments by user --}}
    {{#if comments.length}}
    <div class="col-md-6 comments-list">
        <h3>Comments by {{username}}:</h3>
        {{#each comments as |comment|}}
        <div class="row mb-2">
        <div class="col-md-8">
            <h4><a href="/blogpost/{{comment.blogpost_id}}">On {{comment.blogpost.title}}, {{username}} commented:</h4></a>
            <p class="text-muted">Created on {{comment.createdAt}}</p>
            <p>{{comment.comment}}</p>
        </div>
        </div>
        {{/each}}
    </div>
    {{/if}}